<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">

        <!-- begin sidebar nav -->
        <ul id="main-menu" class="nav">
            <li class="nav-header">Navigation</li>
            <li class="has-sub">
                <a id="aa1" href="#">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Dashboasssssrd</span>
                </a>
                <ul class="sub-menu">

                    <li><a id="aa3" href="/account/login">Home</a></li>
                    <li><a id="aa4" href="index_v2.html">Dashboard v2</a></li>
                    <li><a id="aa5" href="index_v2.html">Dashboard v2</a></li>
                    <li><a id="aa6" href="index_v2.html">Dashboard v2</a></li>
                    <li><a id="aa2" href="/home/index">Home</a></li>
                </ul>
            </li>

            <li class="has-sub">
                <a id="aa1" href="#">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Dashboasssssrd</span>
                </a>
                <ul class="sub-menu">

                    <li><a id="aa33" href="/account/login">Home</a></li>
                    <li><a id="aa43" href="index_v2.html">Dashboard v2</a></li>
                    <li><a id="aa5e" href="index_v2.html">Dashboard v2</a></li>
                    <li><a id="aa6e" href="index_v2.html">Dashboard v2</a></li>
                    <li><a id="aa2e" href="/home/index2">Home</a></li>
                </ul>
            </li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->
