
    <div>
        <label for="dtb">Introduzca el nombre de una camara:</label> <input id="dtb" data-dojo-type="dijit/form/TextBox" value="Cam4" />
        <button id="progButtonNode" type="button">Ir a camara</button>
    </div>
    
<div class="panel panel-primary">
    <div class="panel-heading">Panel with panel-primary class</div>
    <div class="panel-body">

        <div id="map" data-dojo-type="dijit.layout.ContentPane" data-dojo-props="region:'center'">
    </div>

    </div>
</div>