@using WebLayer.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    ViewBag.Title = "Iniciar sesión";
}

<!-- begin #page-loader -->
<!-- end #page-loader -->

<div class="login-cover">
    <div class="login-cover-image"><img src="~/Content/Imgs/bg-6.jpg" data-id="login-cover-image" alt="" /></div>
    <div class="login-cover-bg"></div>
</div>
<!-- begin #page-container -->
<div id="Body-container" class="fade">
    <!-- begin login -->
    <div class="login login-v2" data-pageload-addclass="animated fadeIn">
        <!-- begin brand -->
        <div class="login-header">
            
                <div class="brand">
                    <span class="logo"></span> Color Admin
                    <small>responsive bootstrap 3 admin template</small>
                </div>
            
           
                <div class="icon">
                    <i class="fa fa-sign-in"></i>
                </div>
           
        </div>
        <!-- end brand -->
        <div class="login-content">
            <form action="index.html" method="POST" class="margin-bottom-0">
                <div class="form-group m-b-20">
                    <input type="text" class="form-control input-lg" placeholder="Email Address" />
                </div>
                <div class="form-group m-b-20">
                    <input type="text" class="form-control input-lg" placeholder="Password" />
                </div>
                <div class="checkbox m-b-20">
                    <label>
                        <input type="checkbox" /> Remember Me
                    </label>
                </div>
                <div class="login-buttons">
                    <button type="submit" class="btn btn-success btn-block btn-lg sss">Sign me in</button>
                </div>
                <div class="m-t-20">
                    Not a member yet? Click <a href="#">here</a> to register.
                </div>
            </form>
        </div>
    </div>
    <!-- end login -->
</div>

<!-- ================== END PAGE LEVEL JS ================== -->
<script>
		$(document).ready(function() {
			App.init();
			//LoginV2.init();
		});
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}